$primary: rgb(243,117,90);
$secondary: rgb(233,213,159);
$dark: rgb(41,45,62);
$white: #eee;

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: $dark;
  color: $secondary;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

// ========================================================
// ========================================================
// ========================================================
.wrapper {
  width: 100%;
  height: 100vh;
  background: $dark;
  overflow: hidden;
}

.header {
  height: 50vh;
  background: $primary;
  text-align: center;

  &__logo {
    font-size: 4em;
    font-weight: 600;
    line-height: 30vh;
    color: $secondary;
    text-shadow: 0 6px 0 rgba(#333,.25);
  }
}

.form {
  width: 350px;
  height: 250px;
  margin: -125px auto 0;
  background: $primary;
  border: 1px solid $secondary;
  border-radius: 20px;
  text-align: center;

  &__input {
    display: block;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 25px auto;
    font-size: 1em;

    &:not(:nth-child(3)) {
      padding-left: 1em;
    }
    &:nth-child(3) {
      background: $dark;
      color: $secondary;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background: $secondary;
        color: $dark;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 50px;
    color: $secondary;
  }
}
